extends layout

block content
  if error
    h1 Error! #{error}
  else
    h1 Here's the tweetrate for #[a(href='https://twitter.com/' + title) #{title} on twitter]!
    p #{tweetRate.hourly} per hour
    p #{tweetRate.daily} per day
    p #{tweetRate.weekly} per week
    p #{tweetRate.monthly} per month

    p information pulled from last #{ apiCount } tweets, from #{ startDate } to #{ endDate }
